In [56]:
import pandas as pd
import re
import numpy as np

In [57]:
df = pd.read_csv("reviews_BA.csv")
df.head()

,Rating,Review,Verification,Customer,Published Date,Aircraft,Seat Type,Type Of Traveller,Recommended,Ground Service,Wifi & Connectivity,Seat Comfort,Value For Money,Inflight Entertainment,Food & Beverages,Cabin Staff Service,Route
0,1,never fly British Airways again,Verified Review,Andre Esteves,2016-12-29,NaN,Economy Class,Couple Leisure,no,1,NaN,1,1,NaN,NaN,1,MAD to YUL via LHR
1,10,offered excellent attentive service,Verified Review,B Davidson,2016-12-27,Boeing 747-400,First Class,Couple Leisure,yes,4,NaN,4,4,4.0,4.0,5,MAN to SAN via LHR
2,7,crew were helpful and attentive,NaN,J Brown,2016-12-27,Boeing 777-200ER,Economy Class,Family Leisure,yes,5,1.0,3,3,3.0,4.0,4,LGW to TPA
3,1,stood waiting for assistance,Verified Review,E Damelina,2016-12-26,NaN,Economy Class,Family Leisure,no,1,NaN,1,1,2.0,1.0,1,DXB to LHR
4,9,A380 is state of the art,Verified Review,Gilberto Sing,2016-12-26,A380,Premium Economy,Solo Leisure,yes,5,NaN,5,5,5.0,4.0,4,LAX to LHR

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rating                  2000 non-null   int64
 1   Review                  2000 non-null   object
 2   Verification            1440 non-null   object
 3   Customer                2000 non-null   object
 4   Published Date          2000 non-null   object
 5   Aircraft                1380 non-null   object
 6   Seat Type               2000 non-null   object
 7   Type Of Traveller       2000 non-null   object
 8   Recommended             2000 non-null   object
 9   Ground Service          2000 non-null   int64
 10  Wifi & Connectivity     320 non-null    float64
 11  Seat Comfort            2000 non-null   int64
 12  Value For Money         2000 non-null   int64
 13  Inflight Entertainment  1560 non-null   float64
 14  Food & Beverages        1960 non-null   float64
 15  Cabin Staff Service     2000 non-null   int64
 16  Route                   2000 non-null   object
dtypes: float64(3), int64(5), object(9)
memory usage: 265.8+ KB

In [70]:
# replacing NAN values
df["Verification"]=df["Verification"].fillna("Unknown")
df["Aircraft"]=df["Aircraft"].fillna("Unknown")
df["Wifi & Connectivity"]=df["Wifi & Connectivity"].fillna(0).astype(int)
df["Inflight Entertainment"]=df["Inflight Entertainment"].fillna(0).astype(int)
df["Food & Beverages"]=df["Food & Beverages"].fillna(0).astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rating                  2000 non-null   int64
 1   Review                  2000 non-null   object
 2   Verification            2000 non-null   object
 3   Customer                2000 non-null   object
 4   Published Date          2000 non-null   object
 5   Aircraft                2000 non-null   object
 6   Seat Type               2000 non-null   object
 7   Type Of Traveller       2000 non-null   object
 8   Recommended             2000 non-null   object
 9   Ground Service          2000 non-null   int64
 10  Wifi & Connectivity     2000 non-null   int32
 11  Seat Comfort            2000 non-null   int64
 12  Value For Money         2000 non-null   int64
 13  Inflight Entertainment  2000 non-null   int32
 14  Food & Beverages        2000 non-null   int32
 15  Cabin Staff Service     2000 non-null   int64
 16  Route                   2000 non-null   object
dtypes: int32(3), int64(5), object(9)
memory usage: 242.3+ KB

In [71]:
df.head()

,Rating,Review,Verification,Customer,Published Date,Aircraft,Seat Type,Type Of Traveller,Recommended,Ground Service,Wifi & Connectivity,Seat Comfort,Value For Money,Inflight Entertainment,Food & Beverages,Cabin Staff Service,Route
0,1,never fly British Airways again,Verified Review,Andre Esteves,2016-12-29,Unknown,Economy Class,Couple Leisure,no,1,0,1,1,0,0,1,MAD to YUL via LHR
1,10,offered excellent attentive service,Verified Review,B Davidson,2016-12-27,Boeing 747-400,First Class,Couple Leisure,yes,4,0,4,4,4,4,5,MAN to SAN via LHR
2,7,crew were helpful and attentive,Unknown,J Brown,2016-12-27,Boeing 777-200ER,Economy Class,Family Leisure,yes,5,1,3,3,3,4,4,LGW to TPA
3,1,stood waiting for assistance,Verified Review,E Damelina,2016-12-26,Unknown,Economy Class,Family Leisure,no,1,0,1,1,2,1,1,DXB to LHR
4,9,A380 is state of the art,Verified Review,Gilberto Sing,2016-12-26,A380,Premium Economy,Solo Leisure,yes,5,0,5,5,5,4,4,LAX to LHR

There are only 5 rows with null values. most of the customers didn't gave review on 'Wifi & Connectivity'

In [61]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1995     True
1996     True
1997     True
1998     True
1999     True
Length: 2000, dtype: bool

In [62]:
df["Seat Type"].value_counts()

Seat Type
Economy Class      960
Premium Economy    400
Business Class     340
First Class        300
Name: count, dtype: int64

In [63]:
df[df["Rating"]>=7]["Rating"].count() # outof 2000 members only given positive review

740

In [64]:
df[(df.Rating < 7) & (df.Rating > 4)]["Rating"].count()  # only 200 members have given a neutral review

200

In [65]:
df[(df.Rating<=3)]["Rating"].count() # 940 members have given negative reviews.

940

In [66]:
df["Recommended"].value_counts() # outof 2000 members 880 members recommended BA

Recommended
no     1120
yes     880
Name: count, dtype: int64

In [67]:
df["Type Of Traveller"].value_counts()

Type Of Traveller
Couple Leisure    740
Business          560
Solo Leisure      480
Family Leisure    220
Name: count, dtype: int64

In [73]:
df["Aircraft"].value_counts() # out of 2000 customers 620 members didn't mention the flight name.

Aircraft
Unknown                     620
Boeing 777                  280
A380                        220
A320                        180
Boeing 747-400              160
Boeing 787                  100
Boeing 777-200               80
A321                         60
Boeing 787-900               40
Boeing 777-200ER             40
Boeing 747                   20
A320 / Boeing 767            20
A380 and Boeing 777          20
Boeing 777-300 / A380        20
A380 800                     20
Boeing 787-800               20
Boeing 737                   20
Various                      20
Boeing 787-800 / 777-200     20
A380-800                     20
Boeing 747-400 / A380        20
Name: count, dtype: int64

In [78]:
df.to_csv("cleaned_BA.csv",index=False)